<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragment/head :: head">
</head>
<body>
<div th:insert="fragment/menu :: menu"></div>

<!--<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Message: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>-->

<div th:switch="${find}">
    <!--th:action="@{/aaaop/index/findCitizenSNILS}"-->
    <form th:case="'snils'"
          action="#"

          th:object="${snilsdto}"
          method="post">
        <div class="row">
            <div class="col-2">
                <input  th:field="*{snils}"
                        class="form-control m-1"
                        type="text"
                        name="snils"
                        id="snils"
                        placeholder="СНИЛС"/>
            </div>
            <div class="col-2">
                <input class="btn btn-dark" type="btn" value="Поиск" id="btnFindCitizenSNILS"/>
            </div>
        </div>
    </form>
    <form th:case="'fio'"
          action="#"
          th:action="@{/aaaop/index/findCitizenFIO}"
          th:object="${fiodto}"
          method="post">
        <div class="row">
            <div class="col-2" >
                <input
                        th:field="*{surname}"
                        class="form-control m-1"
                        type="text"
                        name="surname"
                        id="surname"
                        placeholder="Фамилия"/>
                <input
                        th:field="*{name}"
                        class="form-control m-1"
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Имя"/>
                <input
                        th:field="*{patronymic}"
                        class="form-control m-1"
                        type="text"
                        name="patronymic"
                        id="patronymic"
                        placeholder="Отчество"/>
                <input
                        th:field="*{dateOfBirth}"
                        class="form-control m-1"
                        type="date"
                        name="dateOfBirth"
                        id="dateOfBirth"
                        placeholder="Дата рождения"/>
            </div>
            <div class="col-2">
                <input type="submit" value="Поиск" />
            </div>
        </div>
    </form>
    <form th:case="'district'"
          action="#"
          th:action="@{/aaaop/index/findCitizen}"
          th:object="${district}"
          method="post">
        <div class="row">
            <div class="col-2" >
                <select th:field="*{district}" id="district" name="district" class="form-select">
                    <option th:text="'ОТДЕЛЕНИЕ ПЕНСИОННОГО ФОНДА РОССИЙСКОЙ ФЕДЕРАЦИИ ПО БЕЛГОРОДСКОЙ ОБЛАСТИ'"
                            value="0"></option>
                    <option th:text="'Белгород'"
                            value="1"></option>
                    <option th:text="'Старый Оскол'"
                            value="2"></option>
                    <option th:text="'Губкин'"
                            value="3"></option>
                    <option th:text="'Шебекино'"
                            value="4"></option>
                    <option th:text="'Алексеевка'"
                            value="5"></option>
                    <option th:text="'Валуйки'"
                            value="6"></option>
                    <option th:text="'Белгородский район'"
                            value="7"></option>
                    <option th:text="'Волоконовский район'"
                            value="13"></option>
                    <option th:text="'Прохоровский район'"
                            value="14"></option>
                    <option th:text="'Ивнянский район'"
                            value="15"></option>
                    <option th:text="'Яковлевский район'"
                            value="16"></option>
                    <option th:text="'Ракитянский район'"
                            value="17"></option>
                    <option th:text="'Борисовский район'"
                            value="18"></option>
                    <option th:text="'Красненский район'"
                            value="19"></option>
                    <option th:text="'Корочанский район'"
                            value="20"></option>
                    <option th:text="'Грайворонский район'"
                            value="21"></option>
                    <option th:text="'Вейделевский район'"
                            value="22"></option>
                    <option th:text="'Ровеньский район'"
                            value="23"></option>
                    <option th:text="'Красногвардейский район'"
                            value="24"></option>
                    <option th:text="'Новооскольский район'"
                            value="25"></option>
                    <option th:text="'Чернянский район'"
                            value="26"></option>
                    <option th:text="'Краснояружский район'"
                            value="27"></option>

                </select>
            </div>
            <div class="col-2">
                <input type="submit" value="Поиск" />
            </div>
        </div>
    </form>
</div>



<!--<div>
    <p>
        <button
                class="btn btn-outline-secondary m-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFindBySnils"
                aria-expanded="false"
                aria-controls="collapseFindBySnils">
            Поиск по СНИЛС
        </button>
    </p>
    <div class="collapse" id="collapseFindBySnils">
        <div class="card card-body">
            <div class="row">
                <div class="col-2">
                    <input
                            class="form-control m-1"
                            type="text"
                            name="snils"
                            id="snils"
                            placeholder="Номер ГК"/>
                </div>
                <div class="col-2 text-center align-self-center">
                    <button
                            class="btn btn-dark"
                            type="button"
                            aria-expanded="false"
                            name="btnFindBySnils">
                        Найти
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <p>
        <button
                class="btn btn-outline-secondary m-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFindByDistrict"
                aria-expanded="false"
                aria-controls="collapseFindByDistrict">
            Поиск по СНИЛС
        </button>
    </p>
    <div class="collapse" id="collapseFindByDistrict">
        <div class="card card-body">
            <div class="row">
                <div class="col-2">
                    <input
                            class="form-control m-1"
                            type="text"
                            name="district"
                            id="district"
                            placeholder="Район"/>
                </div>
                <div class="col-2 text-center align-self-center">
                    <button
                            class="btn btn-dark"
                            type="button"
                            aria-expanded="false"
                            name="btnFindByDistrict">
                        Найти
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>-->

</body>
<script type="text/javascript" src="/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>